In [2]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from  sklearn.preprocessing import LabelEncoder , OrdinalEncoder,OneHotEncoder

In [6]:
df=pd.read_csv("E:\Workspace\Dataset\covid_toy.csv")

<>:1: SyntaxWarning: "\W" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\W"? A raw string is also an option.
<>:1: SyntaxWarning: "\W" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\W"? A raw string is also an option.
C:\Users\Vertex\AppData\Local\Temp\ipykernel_14464\489526780.py:1: SyntaxWarning: "\W" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\W"? A raw string is also an option.
  df=pd.read_csv("E:\Workspace\Dataset\covid_toy.csv")

In [8]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [ ]:
df.isnull().sum() #fever has 10 missing values

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

### Train test split

In [9]:
x=df.drop(columns=["has_covid"])
y=df["has_covid"]

In [11]:
x.head()

   age  gender  fever cough     city
0   60    Male  103.0  Mild  Kolkata
1   27    Male  100.0  Mild    Delhi
2   42    Male  101.0  Mild    Delhi
3   31  Female   98.0  Mild  Kolkata
4   65  Female  101.0  Mild   Mumbai

In [13]:
y.head()

0     No
1    Yes
2     No
3     No
4     No
Name: has_covid, dtype: object

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [15]:
x_train.head()

    age  gender  fever cough       city
11   65  Female   98.0  Mild     Mumbai
47   18  Female  104.0  Mild  Bangalore
85   16  Female  103.0  Mild  Bangalore
28   16    Male  104.0  Mild    Kolkata
93   27    Male  100.0  Mild    Kolkata

In [16]:
x_test.head()

    age  gender  fever   cough       city
83   17  Female  104.0    Mild    Kolkata
53   83    Male   98.0    Mild      Delhi
70   68  Female  101.0  Strong      Delhi
45   72    Male   99.0    Mild  Bangalore
44   20    Male  102.0  Strong      Delhi

### Column transformer

In [21]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder
from sklearn.impute import SimpleImputer #to fill the missing values